{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<!-- CSS for the map -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

<div class="container mt-8" data-page-type="requester_view_detail_offers">
    <h2 class="text-center mb-3"><br>Offer Details</br></h2>
    <div class="row offer-container">
        <!-- Left column Offer Details -->
        <div class="col-md-12 col-lg-6 mb-4 item_offer" id="offer-{{ offer.id }}">
            <div class="card">
                <div class="card-header text-center">
                    <h3>{{ offer.title }}</h3>
                </div>
                <div class="card-body">
                    <p class="card-text"><i class="fas fa-align-left"></i> <strong>Description:</strong> {{ offer.description }}</p>
                    <p class="card-text"><i class="fas fa-map-marker-alt"></i> <strong>Location:</strong>
                        {% if offer.location_type == 'address' %}
                            {{ offer.address }}
                        {% elif offer.location_type == 'coordinates' %}
                            Latitude: {{ offer.latitude }}, Longitude: {{ offer.longitude }}
                        {% else %}
                            Location not provided
                        {% endif %}
                    </p>
                    <p class="card-text"><i class="fas fa-filter"></i> <strong>Category:</strong> {{ offer.category }}</p>
                    <p class="card-text"><i class="fas fa-info-circle"></i> <strong>Status:</strong> {{ offer.get_status_display }}</p>
                    <p class="card-text"><i class="fas fa-cubes"></i> <strong>Quantity:</strong> {{ offer.quantity }}</p>
                    <p class="card-text"><i class="fas fa-calendar-alt"></i> <strong>Availability:</strong> {{ offer.availability_start|date:"SHORT_DATE_FORMAT" }} - {{ offer.availability_end|date:"SHORT_DATE_FORMAT" }}</p>
                    <p class="card-text"><i class="fas fa-user"></i> <strong>Posted by:</strong> {{ offer.user.username }}</p>
                </div>
                <div class="card-footer bg-transparent d-flex justify-content-between">
                    <div class="d-flex justify-content-start">
                        <a href="{% url 'send_message_to' offer.user.id %}" class="btn btn-primary">
                            <i class="fas fa-envelope"></i> Message
                        </a>
                    </div>
                    <div class="d-flex justify-content-end">
                        <form method="post" class="like-form" data-offer-id="{{ offer.id }}">
                            {% csrf_token %}
                            <button type="button" class="btn {% if request.user in offer.likes.all %}btn-success{% else %}btn-outline-success{% endif %} like-btn">
                                {% if request.user in offer.likes.all %}
                                <i class="fas fa-heart"></i> Unlike
                                {% else %}
                                <i class="far fa-heart"></i> Like
                                {% endif %}
                            </button>
                            <span class="likes-count">{{ offer.likes.count }}</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- right column map -->
        <div class="col-md-12 col-lg-6">
            <!-- map container -->
            <div id="map"
                 data-location-type="{{ offer.location_type }}"
                 data-address="{{ offer.address|escapejs }}"
                 data-latitude="{{ offer.latitude|default_if_none:"" }}"
                 data-longitude="{{ offer.longitude|default_if_none:"" }}"
                 style="height:100%;width:100%;">
            </div>
        </div>
    </div>
    <hr>
    <a href="{{ request.META.HTTP_REFERER|escape }}">
        <button type="button" class="btn btn-secondary btn-lg btn-block">Return</button>
    </a>
</div>

<!-- for the map -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<!-- for map initialization -->
<script src="{% static 'js/map_initialization_script.js' %}"></script>

<!--like functionality script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/liked_offers.js' %}"></script>
{% endblock %}
